Repository OSInside/kiwi, pull requests merged in 2021-02, with the labels that each got.

#1708 Fixed debootstrap device node conflict
  kiwi/package_manager/apt.py
  test/unit/package_manager/apt_test.py
Labels: Awaiting Feedback

#1732 Fix lsblk flags to get sorted output
  dracut/modules.d/90kiwi-live/kiwi-live-lib.sh
  dracut/modules.d/99kiwi-lib/kiwi-partitions-lib.sh
Labels: Bug

#1730 Document systemdeps
  doc/source/concept_and_workflow.rst
  doc/source/concept_and_workflow/runtime_configuration.rst
  doc/source/concept_and_workflow/systemdeps.rst
  doc/source/contributing.rst
  helper/install_devel_packages.sh
Labels: Doc

#1737 Doc hint fs tools
  doc/source/concept_and_workflow.rst
  doc/source/concept_and_workflow/legacy_kiwi.rst
  doc/source/image_types_and_results.rst
  doc/source/index.rst
  doc/source/troubleshooting.rst
  doc/source/troubleshooting/filesystems.rst
Labels: Doc
